@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    font-size: 62.75%; /* converter 1 rem = 10px */
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto'
}

.btn{
    width: 20rem;
    height: 2.8rem;
    font-size: 1.9rem;
    border-radius: 1.6rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: #3EB25E;
    color: white;
}
.btn:hover{
    background-color: #FFFF7D;
    color: black;
    font-weight: 700;
}


/*Desktop*/

/*First page*/
main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    gap: 80px;
    width: 100%;

}

img{
    width: 552px;
}
.welcome-desc{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 60px;
}
.info-welcome{
    display: flex;
    flex-direction: column;
    gap: 33px;
    padding-bottom: 44px;
}
.welcome-desc h1{
    font-size: 12rem;
}
.welcome-desc p{
    font-size: 3rem;
    font-weight: 700;
}
.buttons-first{
    width: 100%;
    display: flex;
    justify-content: center;
}
.buttons-first .lets-button{
    height: 40px;
    width: 48%;
}

/*Button - First Page*/
a{
    text-decoration: none;
}

/*Second-page*/

.scd-img{
    width: 55.2rem;
}
.second-desc{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 47rem;
    gap: 2rem;
    
}
.second-desc p{
    padding: 1.5rem;
    text-align: center;
}

.scd-infos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.second-desc h1{
    font-size: 3.9rem;
    width: auto;
}
.second-desc p{
    font-size: 2.8rem;
}
.buttons-second{
    display: flex;
    justify-content: center;
    gap: 2.7rem;
    width: 100%;
}
.buttons-second .btn{
    height: 3.6rem;
    font-size: 2.2rem;
    border-radius: 3.5rem;
}


/*Third Page*/
.third-page{
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: left;
}
.third-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
} 
.select-container{
    display: flex;
    flex-direction: column;
    font-weight: 700;
    text-align: left;
    width: 100%;
}
.select-container p{
    font-size: 2.6rem;
    padding-bottom: 1rem;
}
.status-container{
    display: flex;
    flex-direction: column;
}
.select-options{
    font-size: 1.6rem;
    font-weight: normal;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    gap: 0.7rem;
    align-items: center;
}


.options-title{
    font-size: 2.6rem;
    font-weight: 700;
    padding-bottom: 1rem;
}
.options{
    display: flex;
   text-align: center;
    border-radius: 1.5rem;
    height: 3.3rem;
    font-size: 2.6rem;
    width: 459px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    outline: 0;
    padding-left: 3rem;

    appearance: none;
    background-image: url('../img/arrow-third-page.svg');
    background-repeat: no-repeat;
    background-position: 3% center;
    background-size: 22px;
}

.options:hover{
    border: 1px solid black;

    appearance: none;
    background-image: url('../img/arrow-hover.svg');
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 3% center;
}


input[type="radio"]{
    appearance: none;
    background-color: rgba(62, 178, 94, 0.3);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
input[type="radio"]:checked{
    background-color: rgba(19, 146, 83, 0.979);
    transition: 0.4s;
}
input[type="radio"]:hover{
    background-color: #3EB25E;
    transition: 0.4s;
}


.first-row-buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.first-row-buttons .btn{
    width: 230px;
    height: 36px;
    gap: 18px;
}
.buttons-third{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    align-items: center;
}
.btn-skip{
    width: 100%;
    height: 36px;
}

/* Fourth Page */ 

.fourth-page{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}


.resources-desc{
    font-size: 26px;
    font-weight: 700;
    width: 502px;
}
.check-options{
    font-size: 2.6rem;
    font-weight: normal;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    gap: 2.4rem;
    align-items: center;
}
.check-container{
    display: flex;
    flex-direction: column;
    gap: 14px;
}


input[type="checkbox"]{
    appearance: none;
    background-color: rgba(62, 178, 94, 0.3);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 2px;
}
input[type="checkbox"]:checked{
    background-color: rgba(19, 146, 83, 0.979);
    transition: 0.4s;
}
input[type="checkbox"]:hover{
    background-color: #3EB25E;
    transition: 0.4s;
}

.buttons-fourth{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    align-items: center;
}




/*Fifth Page*/
.fifth-desc{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.area-fifth{
    resize: none;
    width: 459px;
    height: 259px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.25);
}
.buttons-fifth{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    align-items: center;
    padding-top: 60px;
}
.fifth-title{
    width: 466px;
    text-align: left;
}
.fifth-title h1{
    font-size: 26px;
}
.fifth-img{
    width: 552px;
}



/*Sixth Page*/
.sixth-desc{
    display: flex;
    flex-direction: column;
    width: 40%;
} 
.sixth-form{
   display: flex;
   flex-direction: column;
   gap: 25px; 
}
.sixth-img{
    width: 650px;
}
.input-title{
    font-size: 2.6rem;
    font-weight: 700;
    text-align: left;
    padding-left: 1rem;
}

.input-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
}
.input-field{
    border: 1px solid rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 60%;
    height: 5.2rem;
    padding: 2rem;
    font-size: 2.7rem;
}
.input-field-age{
    border: 1px solid rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 20%;
    height: 1rem;
    height: 5rem;
   padding: 2rem;
   font-size: 2.7rem;
}

.buttons-sixth{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 5rem;
}
.buttons-sixth button{
    background-color: #3EB25E;
    outline: 0;
    border: none;
    border-radius: 35px;
    width: 60%;
    height: 4rem;
    color: white;
    font-size: 2.2rem;
}




/* --------------------- Mobile ---------------------*/
@media screen and (max-width: 767px){
    /* First Page */
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100vh;
        gap: 25px;
        padding-left: 10.5%;
        padding-right: 10.5%;
        padding-bottom: 5%;
        padding-top: 4%;
    }
    
    
    img{
        width: 24rem;
    }
    
    
    /* Description */
    .welcome-desc{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        align-items: center;
        gap: 0;
    }
    
    .welcome-desc h1{
       font-size: 5.6rem;
    }
    .welcome-desc p{
        font-size: 2.4rem;
    }
    
    /*Button*/
   .buttons-first .lets-button{
        width: 19.2rem;
        height: 3.6rem;
        font-size: 1.9rem;
        border-radius: 1.6rem;
        cursor: pointer;
    
        border: none;
        background-color: #3EB25E;
        color: white;
        
    }
    .info-welcome{
        display: flex;
        flex-direction: column;
        gap: 33px;
    }

    
/* Second Page */

.scd-img{
    width: 100%;
}

.second-desc{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 /*    height: 26rem; */
    width: 100%;
}
.second-desc .scd-infos{
   /*  height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}
.second-desc .scd-title{
    font-size: 3rem;
}
.second-desc .scd-desc{
    font-size: 1.8rem;
}


/*buttons*/
.buttons-second{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1.8rem;
}
.buttons-second .btn{
    height: 2.6rem;
    width: 14rem;
    font-size: 1.5rem;
}



/* Third Page */

.third-page{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.third-form{
    display: auto;
    flex-direction: auto;
    gap: 1px;
} 
.select-container{
    display: flex;
    flex-direction: column;
    font-weight: 700;
    text-align: left;
}
.select-container p{
    font-size: 1.6rem;
}
.status-container{
    display: flex;
    flex-direction: column;
}
.select-options{
    font-size: 1.6rem;
    font-weight: normal;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    gap: 0.7rem;
    align-items: center;
}


.options-title{
    font-size: 1.6rem;
    font-weight: 700;
    padding-bottom: rem;
}
.options{
    display: flex;
   text-align: center;
    border-radius: 2rem;
    font-size: 1.6rem;
    height: 3.3rem;
    width: 278px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    outline: 0;

    background-size: 14px;
    appearance: none;
    background-image: url('../img/arrow-third-page.svg');
    background-repeat: no-repeat;
    background-position: 3% center;
}
.options:hover{
    background-size: 14px;
}

input[type="radio"]{
    appearance: none;
    background-color: rgba(62, 178, 94, 0.3);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}
input[type="radio"]:checked{
    background-color: rgba(19, 146, 83, 0.979);
    transition: 0.4s;
}


.first-row-buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.first-row-buttons .btn{
    width: 142px;
    height: 26px;
    gap: 18px;
}
.buttons-third{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    align-items: center;
}
.btn-skip{
    width: 100%;
    height: 26px;
}
.trd-img{
    width: 300px;
}


/*Fourth - Page */
.fourth-page{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
}

.resources-desc{
    font-size: 16px;
    font-weight: 700;
    width: 261px;
}
.check-options{
    font-size: 1.6rem;
    font-weight: normal;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    gap: 0.7rem;
    align-items: center;
}
.check-container{
    display: flex;
    flex-direction: column;
    gap: 14px;
}


input[type="checkbox"]{
    appearance: none;
    background-color: rgba(62, 178, 94, 0.3);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 2px;
}
input[type="checkbox"]:checked{
    background-color: rgba(19, 146, 83, 0.979);
    transition: 0.4s;
}

.buttons-fourth{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    align-items: center;
}

/*Fifth Page*/
.area-fifth{
    resize: none;
    width: 100%;
    height: 131px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.25);;
}
.fifth-title{
    width: 100%;
    text-align: left;
}

.fifth-img{
    width: 100%;
}
.first-row-buttons .btn{
  width: 45%;
}
.fifth-desc{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.buttons-fifth{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    align-items: center;
    padding-top: 0;
}
.fifth-title h1{
    font-size: 16px;
}


/*Sixth Page*/
.sixth-desc{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.sixth-form{
display: flex;
   flex-direction: column;
   gap: 10px; 
}
.sixth-img{
    width: 100%;
}
.input-title{
    font-size: 1.6rem;
    font-weight: 700;
    text-align: left;
    padding-left: 1rem;
}

.input-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}
.input-field{
    border: 1px solid rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 80%;
    height: 3.3rem;
    padding: 1rem;
    font-size: 1.6rem;
}
.input-field-age{
    border: 1px solid rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 30%;
    height: 3.3rem;
    padding-left: 1.5rem;
    font-size: 2.7rem;
}

.buttons-sixth{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
}
.buttons-sixth button{
    background-color: #3EB25E;
    outline: 0;
    border: none;
    border-radius: 35px;
    width: 100%;
    height: 2.6rem;
    color: white;
}

}
/* ------------- Mobile - Galaxy Fold ------------- */
@media screen and (max-width: 297px){

    main{
       padding-top: 5%;
       padding-bottom: 5%;
    }
    .buttons-second .btn{
        height: 2.6rem;
        width: 14rem;
        font-size: 1.2rem;

    }
    /*First Page*/
    .first-img{
        width: 200px;
    }


    /*Third Page*/
    .trd-img{
        width: 200px;
    }
    .select-container{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .status-container{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .options{
        width: 100%;
        font-size: 1.15rem;
        padding-left: 1rem;
    }

    /*Fourth Page*/

   .status-container .options-title{
    text-align: center;
   }
   .fourth-page .buttons-fourth{
    padding: 2.5%;
   }

}

/* --------------- Tablet --------------- */

@media (min-width: 768px) and (max-width: 1023px){
  /*First page*/
  .first-img{
    width: 300px;
    padding-left: 1rem;
  }
  .info-welcome h1{
    font-size: 6rem;
  }
  main{
    padding-left: 10%;
    padding-right: 10%;
  }


  /*Second Page*/
  .scd-img{
    width: 300px;
  }
  .scd-infos .scd-title{
    font-size: 3rem;
  }
  .scd-infos .scd-desc{
    font-size: 2rem;
  }
  .buttons-second .btn{
    font-size: 1.2rem;
    padding: 25px;
    height: 30px;
    width: 100%;
  }


  /*Third Page*/

    .third-page{
        width:  50%;
    }
    .trd-img{
        width: 300px;
    }
    .first-row-buttons .btn{
        width: 45%;
        height: 36px;
        gap: 18px;
    }
    .buttons-third{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .btn-skip{
        width: 100%;
        height: 36px;
    }
    .status-container .options{
        width: 300px;
        font-size: 1.5rem;
        padding-left: 2rem;
    }

    /*Fourth Page*/
   .fourth-page .check-container .resources-desc{
    font-size: 1.6rem;
    width: 100%;
   }
   .check-options{
    font-size: 1.5rem;
    font-weight: normal;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    padding-top: 1rem;
    align-items: center;
}



/*Fifth Page*/
.fifth-desc{
    padding-right: 5%;
}

.area-fifth{
    width: 100%;
}
.fifth-title{
    width: 100%;
}

.fifth-img{
    width: 270px;
}

/*Sixth Page*/

.sixth-img{
    width: 100%;
}
.sixth-desc{
    width: 100%;
}
.input-field{
    width: 100%;
}
.input-field-age{
    width: 40%;
}
.buttons-sixth button{
    width: 100%;
}


}



/* ------------- Laptop ------------------ */
@media (min-width: 1024px){
    /*First Page*/
    .first-img{
        width: 300px;
    }

    /*Second Page*/
    .scd-img{
        width: 400px;
    }
    
    /*Third Page*/
    .third-page{
        padding-right: 5%;
    }
    .trd-img{
        width: 100%;
    }
    .select-options{
        font-size: 2.6rem;
    }
    .first-row-buttons .btn{
        width: 45%;
    }

    /*Fourth Page*/
    .fourth-page{
        padding-right: 5%;
    }

    /*Fifth Page*/
    .fifth-desc{
        padding-right: 5%;
    }
    .fifth-img{
        width: 100%;
      }

    /*Sixth Page*/
    .sixth-img{
        width: 100%;
    }
    .sixth-desc{
        padding-right: 5%;
        padding-left: 5%;
    }
    .input-field{
        width: 100%;
    }
    .input-field-age{
        width: 40%;
    }
    .buttons-sixth button{
        width: 100%;
    }

    
}

/* ---------------- Laptop G ------------- */
@media (min-width: 1440px){

    /*First Page*/
  .first-img{
    width: 450px;
  }

  /*Second Page*/
  .scd-img{
    width: 600px;
  }

  /*Fifth Page*/

}

