@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

:root{
    font-size: 62.75%; /* converter 1 rem = 10px */
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto'
}




/*Desktop - First Page*/

main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    gap: 80px;
}

img{
    width: 30rem;
}
.welcome-desc{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 30rem;

}
.welcome-desc h1{
    font-size: 7rem;
}
.welcome-desc p{
    font-size: 2.4rem;
}

/*Button - First Page*/
a{
    text-decoration: none;
}
.lets-button{
    width: 20rem;
    height: 2.8rem;
    font-size: 1.9rem;
    border-radius: 1.6rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: #3EB25E;
    color: white;
    
}




/*Mobile - First Page*/
@media screen and (max-width: 767px){
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        min-height: 100vh;
        padding-left: 10.5%;
        padding-right:10.5%;
        gap: 0;
    }
    
    
    img{
        width: 28rem;
    }
    
    
    /* Description */
    .welcome-desc{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 24rem;
        align-items: center;
    }
    
    .welcome-desc h1{
       font-size: 5.6rem;
    }
    .welcome-desc p{
        font-size: 2.4rem;
    }
    
    /*Button*/
    .lets-button{
        width: 19.2rem;
        height: 3.6rem;
        font-size: 1.9rem;
        border-radius: 1.6rem;
        cursor: pointer;
    
        border: none;
        background-color: #3EB25E;
        color: white;
        
    }

}
